<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toptativa2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".EurekaAppAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LoginActivityTheme">
        <activity android:name=".ListaNumerosActivity"></activity>
        <activity android:name=".EditarSorteoActivity" />
        <activity android:name=".JugarSorteoActivity" />
        <activity android:name=".FormUserActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CrearSorteoActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MisSorteosActivity" />
        <activity android:name=".LoteriaNacionalActivity" />
    </application>

</manifest>